@import 'modern-css-reset/src/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --c-red: #D95A4E;
  --c-red-dark: #7A3B45;
  --c-red-xdark: #542F2F;
  --c-orange-xdark: #542F2F;
  --c-orange-dark: #785946;
  --c-orange: #CF9153;
  --c-orange-light: #E8C87D;
  --c-orange-xlight: #F3E4A0;
  --c-yellow-light: #D0DC7D;
  --c-yellow: #D0DC7D;
  --c-yellow-dark: #597A56;
  --c-yellow-xdark: #394A45;
  --c-green-xdark: #394A45;
  --c-green-dark: #3D6952;
  --c-green: #7BBA5B;
  --c-blue: #5891B0;
  --c-blue-dark: #385370;
  --c-blue-xdark: #32344A;
  --c-purple-xdark: #32344A;
  --c-purple-dark: #6B3A65;
  --c-purple: #B35472;
  --c-gray-xlight: #EAE4CF;
  --c-gray-light: #B3AD9B;
  --c-gray: #52504D;
  --c-gray-dark: #3B3837;
  --c-gray-xdark: #292826;
}

body {
  display: flex;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: var(--c-gray-xdark);
}

#game-canvas {
  background: var(--c-gray-xdark);
  image-rendering: pixelated;
}

.stats {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem;
  text-align: left;
}

th {
  border-bottom: 2px solid var(--c-gray-xlight);
}

td {
  border-bottom: 1px solid var(--c-gray-xlight);

  .progress-bar__label {
    display: none;
    min-width: 4.5ch;
  }
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-bar__track {
  background: var(--c-gray-xlight);
  width: 100px;
  height: 10px;
  border-radius: 2px;
  overflow: hidden;
}

.progress-bar__bar {
  background: var(--c-blue-dark);
  height: 100%;
  border-radius: 2px;
}

